version: 2.1

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""

jobs:
  show_env_vars:
    docker:
      - image: cimg/base:stable
    environment:
      GTAG: << pipeline.git.tag >>
    steps:
      - checkout
      - run:
          name: echo CIRCLE_PULL_REQUEST
          command: echo $CIRCLE_PULL_REQUEST
      - run:
          name: echo CIRCLE_PULL_REQUESTS
          command: echo $CIRCLE_PULL_REQUESTS 
      - run:
          name: echo CIRCLE_TAG
          command: echo $CIRCLE_TAG
      - run:
          name: echo GH_META
          command: echo $GH_META
      - run:
          name: echo CIRCLE_BRANCH
          command: echo $CIRCLE_BRANCH
      - run:
          name: echo CIRCLE_SHA1
          command: echo $CIRCLE_SHA1
      - run:
          name: echo GIT TAG
          command: echo $GTAG
      - run:
          name: run git log
          command: git log

workflows:
  show_env_vars:
    when:
      or:
        - matches:
            pattern: /.*/
            value: << pipeline.git.branch >>
        - matches:
            pattern: /^v\d+.*/
            value: << pipeline.git.tag >>
    jobs:
      - show_env_vars:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/